#main_background{
    background: #eee;
    padding: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}
html {
    height: 100%;
  }
body {
    min-height: 100%;
    height: 100%;
    margin: 0px;
}
#gantt_cell_wrapper{
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
    border: 1px black solid;
}
#gantt_chart_wrapper{
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
    border: 1px black solid;
}
#timeline_wrapper{
    width: 100%;
    height: 100%;
}
#gantt_cells{
    width: max-content;
    border-collapse:collapse;
    cursor: cell;
}

#timeline_box{
    width: calc(100% - 10px);
    height: 80px;
    border: 1px solid gray;
    margin: 5px;
}
#gantt_table_cell_wrapper{
    min-width: 300px;
}
.gantt-cell.cell-highlight{
    background: lightblue;
}
.no-select{
    -moz-user-select: none;
    user-select: none;
}
.gantt-cell{
    border: 1px solid black;
}
.gantt-cell input{
    height: 100%;
    width: 100%;
    border: none;
}
.gantt-cell-header{
    border: 2px solid gray;
    border-bottom: none;
}
.gantt-indicator.gantt-cell{
    /*order-left: none;*/
}
.transparent{
    background: rgba(0,0,0,0);
}
.localtable{
    display: table;
    width: 100%;
    height: 100%;
}
.remainderRow{
    display: table-row;
    width: 100%;
}
.remainderCell{
    display: table-cell;
    height: 100%;
}
.table-cell{
    display: table-cell;
}
.table-row{
    display: table-row;
}
.baseRelative{
    position: relative;
    height: 100%;
    width: 100%;
}
.baseAbsolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}